/* src/app/home.module.css */

.container {
    padding: 20px;
}

.sectionTitle {
    margin-top: 40px;
}

.paper {
    padding: 20px;
}

.listItem {
    transition: background-color 0.3s ease;
}

.listItem:hover {
    background-color: #f0f0f0;
    color: #001529;
}

.links {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.learnMoreButton {
    margin-top: 20px;
}

.dashboardButton {
    margin-top: 40px;
    width: 100%;
    height: 80px; /* doppelte Höhe */
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px;
}

/* Responsive Design für mobile Geräte */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .sectionTitle {
        margin-top: 20px;
    }

    .paper {
        padding: 15px;
    }

    .links {
        flex-direction: column;
        gap: 5px;
        margin-left: 0;
    }

    .learnMoreButton {
        margin-top: 10px;
    }

    .dashboardButton {
        margin-top: 20px;
        height: 60px; /* Höhe leicht reduziert */
        font-size: 20px; /* Schriftgröße leicht reduziert */
    }
}
