/* styles/ApiDocumentation.module.css */
.container {
    padding: 20px;
    margin-top: 20px;
}

.header {
    margin-bottom: 20px;
}

.swaggerContainer {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}
