.container {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tutorial {
    flex: 3;
}

.compile {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.code {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
