.heroContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.heroTitle {
    font-size: 3rem;
    font-weight: bold;
}

.heroSubtitle {
    font-size: 1.5rem;
}

.pageContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectorContainer {
    margin-bottom: 1rem;
    min-width: 200px;
}

.mapBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapContainer {
    width: 100%;
    height: 600px;
    background: transparent; /* Ensure the background is transparent */
}

.legendBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: 0 4px 8px rgba(0, 0, 0, 0.8);
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.5s;
}

.legendTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.legendContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
