.navbar {
    background-color: #001529;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #1890ff;
}

.light-mode .navbar {
    background-color: #f1f1f1;
}

.light-mode .navbar a {
    color: black;
}

.links {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.list {
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.logoContainer {
    background-color: #001529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.logoButton {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.themeToggle {
    margin-top: 10px; /* Anpassung des Abstands */
}

.logoutButton {
    margin-top: 10px; /* Anpassung des Abstands */
}
