/* src/app/dashboard/dashboard.module.css */

.container {
    display: flex;
    flex-direction: column;
}

.mainNoSidebar {
    flex: 1;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Responsive Design für mobile Geräte */
@media (max-width: 768px) {
    .mainNoSidebar {
        padding: 10px;
    }

    .cardContent {
        flex-direction: column;
    }
}
